@model List<MVC.Models.OptionOrderViewModel>

@{
    ViewData["Title"] = "Option Orders";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Strategy Option Orders $@ViewBag.AccountBalance limit</h1>
    <hr />    
    @using (Html.BeginForm("SubmitOptionOrders", "Home", FormMethod.Post))
    {
        <fieldset>
            <p>
                <input id="Submit" type="submit" value="submit" />
            </p>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>Selected</td>
                        <td>Order</td>
                        <td>Position Value</td>
                        <td>TOS Entry</td>
                        <td>TOS Profit</td>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr style="background-color: @Model[i].BackgroundColor">
                            <td>@Html.HiddenFor(m => @Model[i].Id)</td>
                            <td>
                                @Html.CheckBoxFor(m => @Model[i].Selected)
                                @Html.HiddenFor(m => @Model[i].Selected)
                            </td>
                            <td>@Model[i].Description</td>
                            <td>@Model[i].PositionValue</td>
                            <td><input type="button" onclick="copyText('@Model[i].TOSEntry')" value="@Model[i].TOSEntry" /></td>
                            <td><input type="button" onclick="copyText('@Model[i].TOSProfit')" value="@Model[i].TOSProfit" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    }
</div>

<script>
    function copyText(text) {
        navigator.clipboard.writeText(text);
        return false;
    }
</script>
