@model StockPositionsViewModel

@{
    ViewData["Title"] = "Stock Positions";
}

<div class="text-center">
    <h1 class="display-4">Interactive Brokers Stock Positions</h1>
    <hr />
    <table>
        <thead>
            <tr>
                <td>Account</td>
                <td>Balance</td>
                <td>Ticker</td>
                <td>Count</td>
                <td>Average Cost</td>
                <td>Actively Trade</td>
                <td>Theme</td>
                <td>Theme Count</td>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.InteractiveBrokers.Count; i++)
            {
                <tr style="background-color: @Model.InteractiveBrokers[i].BackgroundColor">                  
                    <td>@Model.InteractiveBrokers[i].Account</td>
                    <td>@Model.InteractiveBrokers[i].AccountBalance.ToString("c")</td>
                    <td>@Model.InteractiveBrokers[i].Ticker</td>
                    <td>@Model.InteractiveBrokers[i].Count</td>
                    <td>@Model.InteractiveBrokers[i].AverageCost</td>
                    <td>@(Model.InteractiveBrokers[i].ActivelyTrade ? "yes": "no")</td>
                    <td>@Model.InteractiveBrokers[i].Theme</td>
                    <td>@Model.InteractiveBrokers.Count(c => c.Account == @Model.InteractiveBrokers[i].Account && c.Theme == @Model.InteractiveBrokers[i].Theme && !string.IsNullOrEmpty(c.Theme))</td>
                </tr>
            }
        </tbody>
    </table>
    <h1 class="display-4">Charles Schwab Stock Positions</h1>
    <hr />
    <table>
        <thead>
            <tr>
                <td>Account</td>
                <td>Balance</td>
                <td>Ticker</td>
                <td>Count</td>
                <td>Average Cost</td>
                <td>Actively Trade</td>
                <td>Theme</td>
                <td>Theme Count</td>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.CharlesSchwab.Count; i++)
            {
                <tr style="background-color: @Model.CharlesSchwab[i].BackgroundColor">                  
                    <td>@Model.CharlesSchwab[i].Account</td>
                    <td>@Model.CharlesSchwab[i].AccountBalance.ToString("c")</td>
                    <td>@Model.CharlesSchwab[i].Ticker</td>
                    <td>@Model.CharlesSchwab[i].Count</td>
                    <td>@Model.CharlesSchwab[i].AverageCost</td>
                    <td>@(Model.CharlesSchwab[i].ActivelyTrade ? "yes": "no")</td>
                    <td>@Model.CharlesSchwab[i].Theme</td>
                    <td>@Model.CharlesSchwab.Count(c => c.Account == @Model.CharlesSchwab[i].Account && c.Theme == @Model.CharlesSchwab[i].Theme && !string.IsNullOrEmpty(c.Theme))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
